body {
	margin: 0px;
}

heading {
  font-size: 40px;
}
/*carousel*/
.carousel-caption {
	top:50%;
	max-width: 550px;
    padding: 0 20px;
    margin:0 auto;
    text-align:center;
}

#hoverbar {
	width:100%;
	height:75px;
	position:fixed;
	top:0px;
	background-color:#0C3;
	opacity:0;
}

#hoverbar: hover{
	opacity:1;
}
.buffer {
	height:50px;
	width:100%;
	color:#FFF;
	font-family:Bebas;
	padding-top:8px;
	font-size:30px;
	text-align:center;
}
.section {
	width:100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.line-break {
  margin-bottom: 25px;
}

/* NAV BAR */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  width: 100%;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 25px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #999;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #999;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #999;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

/* Footer Styling */
.footer {
  text-align: center;
}
.footer-minor p {
  margin-bottom: 0px;
}
.footer p {
  font-weight: 300;
  font-size: 18px;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

.frame{
  display: inline-block;
  padding: 0 10px;
  height: 100px;
  transition: all .2s ease-in-out;
}

.frame:hover{
  height: 120px;
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
